h1 
{color:rgb(17, 17, 196);
}

body {
  background-color: #dac8bc;
}


.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

header .container {
  justify-content: center; /* center child items horizontally */
  align-items: center;
}

header .container img {
  max-width: 100%;
  height: auto;
  display: block;
}

nav ul {
 list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
align-text: center;
  justify-content: center; /* center child items horizontally */
  align-items: center;
}
nav a {
  text-decoration: none;
  font-weight: bold;
 color: rgb(4, 60, 120);
 font-family: sans-serif;
}

.container {
  display: flex;          /* Turns the container into a flex container */
  gap: 20px;              /* Space between the two columns */
}

/* Set proportions */
.main-content {
  flex: 3;                /* Takes up 3 parts of the available space */
  background: #79b1db;
  padding: 15px;
  font-family: sans-serif;
}

.sidebar {
  flex: 1;                /* Takes up 1 part of the available space */
  background: #ce7f0a;
  padding: 15px;
  font-family: sans-serif;
}

.body-content {
  flex: 100%;
  background: #d1e6f6;
  padding: 15px;
  margin-top: 20px;
  width: 100%; 
  font-family: sans-serif;
}

.footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Optional: responsive behavior */
@media (max-width: 768px) {
  .container {
    flex-direction: column;  /* Stack columns vertically on smaller screens */
  }
}

